<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Heading:</strong>
    <%= course.heading %>
  </p>

  <p>
    <strong>External:</strong>
    <%= course.external_id %>
  </p>

  <p>
    <strong>Is published:</strong>
    <%= course.is_published %>
  </p>

</div>
